plans/
.codex
dist/
.astro/
node_modules/
apps/web/public/fonts/*.ttf
apps/web/public/archetypes/*.png
apps/miniapp/src/assets/archetypes/
.cache/
.env
**/.swc/
apps/miniapp/private.key
apps/miniapp/preview-qrcode.png